@use '../varibles'
@use '../maxin'

#sidebar
    background-color: varibles.$bg-color
    flex:  1 1 0
    border-radius: varibles.$container-border-radius
    display: flex
    align-items: center
    flex-direction: column
    text-align: center
    position: relative
    padding:6rem 0

    img
        max-width: 70%
        border-radius: varibles.$container-border-radius
        position: relative
        

    .title
        color:  varibles.$text-color-secondary
        background-color: varibles.$bg-color-secondary
        border-radius: varibles.$card-border-radius
        margin-top: 12rem
        padding: .8rem 1.2rem

    .btn
        
       @include maxin.btn
        